.add-purchase-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 5% 20% 0 15%;
}

.card-purchase{
  margin-top: 7%;
  margin-left: 40%;
  max-width: 50%;
  // display: flex;
  // flex-wrap: wrap;
}

.apurchase-items {
  // align-self: center;
  margin-top: 10%;
}

#feature-form {
  // margin: 150px;
}

.add-purchase-form{
  // margin-top: 0px;
}

.add-purchase-cart-item{
  // margin-top: -20%;
  display: flex;
  // flex-wrap: wrap;
  margin: 0px 12%;
  flex-wrap: wrap;
}

.card_purchase{
  width: 250px;
  height: 150px;
  margin: 10px 10px 90px 10px;
  text-align: center;
  .card_purchase_price{
    font-size: 32px;
  }
}


@media all and (max-width: 699px) and (min-width: 520px) {
  .add-purchase-area {
    flex-direction: column;
    margin: 5% 5% 0 10%;
  }

  .card-purchase{
    margin-top: 10%;
    margin-left: 0%;
    max-width: 0% !important;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .add-purchase-area {
    flex-direction: column;
    margin: 5% 5% 0 10%;
  }

  .card-purchase{
    margin-top: 10%;
    margin-left: 0%;
    max-width: 0% !important;
  }
}

@media all and (max-width: 1500px) and (min-width: 1001px) {
  .add-purchase-area {
    // flex-direction: column;
    margin: -5% -15% 0 -50%;
  }

  .card-purchase{
    margin-top: 10%;
    margin-left: 0%;
    max-width: 0% !important;
  }
}