#add-purchase-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apurchase-items {
    align-self: center;
    margin-top: 10%;
    margin-right: 3%;
}

#feature-form {
    margin: 150px;
}