.text-centre {
    width: 40%;
}

#cart-page {
    margin: 10% 30%;
    #cart-page-cards {
        margin-top: 5rem;
        display: flex;
    }
}

.cardPage_h2{
    margin-right: 5%;
    margin-left: -5%;
    margin-bottom: 5%;
    color: white;
    font-weight: 500;
    text-align: center;
}


.cart_list {
    width: 100%;
    max-width: 360ch;
    // backgroundCobalor: theme.palette.background.paper
    .inline {
    display: inline;
    }
}

.MuiTypography-body2 {
    font-size: 18px !important;
}

.MuiTypography-displayBlock {
    display: flex !important;
    flex-direction: inherit;
}

.cart-page-price {
    margin: 2px 15px;
}

.cart-page-item-btn {
    margin: 20px 30px;
}

.cart-page-item-btn2 {
    margin: 0;
}

.MuiAvatar-root {
    width: 100px !important;
    height: 100px !important;
}

.MuiListItemText-multiline {
    margin: 0px 25px;
}

.nav-cart-link {
    margin: 10px !important;
}

.nav-cart-button {
    margin: 15px 10px !important;
}