.text-centre {
    width: 40%;
}

#cart-page {
    padding: 10% 30%;
    #cart-page-cards {
        padding-top: 5rem;
        display: flex;
    }
}

@media all and (max-width: 550px) and (min-width: 260px) {
    #cart-page {
        padding: 20% 5%;
        #cart-page-cards {
            padding-top: 0%;
            display:block
        }
    }

    .MuiListItemAvatar-alignItemsFlexStart {
        margin-top: 10%;
    }
}

.cardPage_h2{
    padding-right: 5%;
    padding-left: -5%;
    padding-bottom: 5%;
    color: white;
    font-weight: 500;
    text-align: center;
}


.cart_list {
    width: 100%;
    max-width: 360ch;
    // backgroundCobalor: theme.palette.background.paper
    .inline {
    display: inline;
    }
}

@media all and (max-width: 510px) and (min-width: 260px) {
    .inline_mobile{
        display: none !important;
    }
    .cart-page-price {
        margin: 0px !important;
    }

    .cart-page-item-btn{
        margin-top: 35% !important;
    }

}

.MuiTypography-body2 {
    font-size: 18px !important;
}

.MuiTypography-displayBlock {
    display: flex !important;
    flex-direction: inherit;
}

.cart-page-price {
    margin: 2px 15px;
}

.cart-page-item-btn {
    margin: 20px 30px;
}

.cart-page-item-btn2 {
    margin: 0;
}

.MuiAvatar-root {
    width: 100px !important;
    height: 100px !important;
}

.MuiListItemText-multiline {
    margin: 0px 25px;
}

.nav-cart-link {
    margin: 10px !important;
}

.nav-cart-button {
    margin: 15px 10px !important;
}

.MuiTypography-root .MuiListItemText-secondary .MuiTypography-body2 .MuiTypography-colorTextSecondary .MuiTypography-displayBlock {
    // width: 135%;
}