#feature-list-filters {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.features_search {
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border-color: #51cbce;
    color: black;
    font-weight: 600;
}
.features_select {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border-color: #51cbce;
    font-weight: 500;
}
