#feature-list {
    padding-left: 10%;
    text-align: center;
    padding-top: 2%;
}

@media all and (max-width: 550px) and (min-width: 260px) {
    #feature-list {
        padding-left: 10%;
    }
}