#form-purchase {
    // display: flex;
    // justify-content: center;
    // align-self: center;
    // margin-top: 15%;
}


.form-details{
    // display: flex;
    // flex-wrap: wrap;
    position: fixed;
}

@media all and (max-width: 510px) and (min-width: 260px) {
  .form-details{
    max-width: 85%;
    margin: 10% 0;
    position: absolute;
  }
}

@media all and (max-width: 699px) and (min-width: 520px) {
  .form-details{
    max-width: 67%;
    margin-top: 10%;
    position: absolute;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    .form-details{
        margin-top: 10%;
        position: absolute;
      }
}

@media all and (max-width: 1500px) and (min-width: 1001px) {
    .form-details{
        margin-top: 5%;
        // position: absolute;
      }
}